.pad {
  position: relative;
  background-color: black;
  padding: 20px;
  border-radius: 32px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4) ;
  margin: auto;
  width: 60%;
  max-width: 700px;
}
.pad img {
  object-fit: cover;
  aspect-ratio: 3 / 2;
  border-radius: 16px;
}
.padBtn {
  position: absolute;
  top: -4px;
  left: 45px;
  width: 30px;
  height: 4px;
  background-color: black;
}
.padBtn::before {
  position: absolute;
  content: "";
  top: 35px;
  left: -49px;
  width: 4px;
  height: 58px;
  background-color: black;
}
.padBtn::after {
  position: absolute;
  content: "";
  left: 40px;
  width: 30px;
  height: 4px;
  background-color: black;
}
.title {
  font-size: 2.5rem;
  font-weight: bold;
}
.category p {
  display: flex;
  align-items: center;
  font-weight: bold;
  border-radius: 16px 0 16px 0;
  margin: 1rem auto;
}
.category p span {margin-left: 4px;}
.article h1 {
  font-size: 2.5rem;
  margin: 4rem auto 1rem auto;
}
.article h2 {
  font-weight: bold;
  font-size: 2rem;
  margin: 3rem auto 1.5rem auto;
  padding: 0.5rem 1rem;
  border-top: 6px solid #111111;
  border-bottom: 6px solid #111111;
}
.article h3 {
  font-weight: bold;
  font-size: 1.8rem;
  margin: 2rem auto 1rem auto;
}
.article p {
  line-height: 1.8;
  margin: 1rem auto;
}
.article a {
  color: #0000ff;
}
.article a:hover {
  text-decoration: underline;
}
.article img {
  border-radius: 5px;
  margin: 1.5rem auto;
}
.article blockquote {
  background-color: #eeeeee;
  border-radius: 5px;
  padding: 1rem;
  margin: 1.5rem auto;
}
.article pre {
  background-color: #000022;
  color: #ffffff;
  border-radius: 5px;
  padding: 1rem;
  margin: 1.5rem auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.article iframe {
  width: 100%;
  border-radius: 5px;
  margin: 1.5rem auto;
}
.article ol {
  list-style-type: decimal;
  padding: 1rem 2rem;
}
.article ul {
  list-style-type: square;
  padding: 1rem 2rem;
}
.article ol li, .article ul li {
  line-height: 2;
}
.article code:not(.article pre code) {
  background-color: #eeeeee;
  padding: 2px;
  border-radius: 2px;
  word-break: break-all;
}
.shareText {
  font-size: 2rem;
  margin: 1rem auto;
  text-align: center;
}
.shareBtn {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 2rem auto;
}
.shareBtn button {
  margin: 0.5rem;
}

@media screen and (max-width: 700px) {
  .pad {
    padding-right: 0;
    border-radius: 32px 0 0 32px;
    width: 95%;
    margin: 0 0 0 auto;
  }
  .pad img {
    display: flex;
    border-radius: 16px 0 0 16px !important;
    overflow: hidden;
  }
  .title {
    font-size: 2rem;
  }
  .article h2 {
    font-size: 1.8rem;
  }
  .article h3 {
    font-size: 1.5rem;
  }
}