@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
  color: #111111;
  background-color: #fcfcfc;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.home-h2 {
  margin: 3rem auto 2rem auto;
  font-weight: bold;
  font-size: 1.875rem;
}
.paragraph {
  @apply leading-loose text-lg
}
@media screen and (max-width: 520px) {
  .home-h2 {
    margin: 2rem auto 1.5rem auto;
  }
}