@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
  color: #111111;
  background-color: #fafafa;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.home-h2 {
  @apply mx-auto my-8 text-3xl font-bold
}
.paragraph {
  @apply leading-loose text-lg
}
