.padImg {
  filter: brightness(.9);
}
.topText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 72%;
  max-width: 20rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px) saturate(180%);
  border-radius: 16px;
}
.topText h1 {
  font-weight: bold;
  font-size: 2rem;
  padding: 1.5rem 0.5rem 0.5rem 0.5rem;
  line-height: 1.2;
}
.topText a {
  display: block;
  margin-top: 1rem;
  padding: 1rem 0 ;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  font-weight: 600;
  width: 100%;
}
.card {
  cursor: pointer;
}
.cardImg {
  position: relative;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-color: #000000;
  transition: .3s;
}
.card:hover .cardImg {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}
.cardImg img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3 / 2;
  border-radius: 6px;
}

@media screen and (max-width: 520px) {
  .padImg {
    aspect-ratio: 5/ 4 !important;
  }
  .topText h1 {
    font-size: 1.8rem;
  }
}